server:
  port: 8884
  contextPath: /
  address: 0.0.0.0


spring:
    datasource:
        driver-class-name:  com.mysql.jdbc.Driver
        url: jdbc:mysql://192.168.1.68:3306/order?useUnicode=true&characterEncoding=utf8
        username: xiaoyu
        password: Wgj@555888
    application:
      name: order-service

mybatis:
  type-aliases-package: com.happylifeplat.tcc.demo.springcloud.order.entity
  config-location: classpath:mybatis/mybatis-config.xml
#${random.int[9000,9999]}
eureka:
 client:
     serviceUrl:
       defaultZone: http://localhost:8761/eureka/


logging:
            level:
                root: info
                com.happylifeplat.tcc : debug
            path: "./logs"

