server:
  port: 8087
  address: 0.0.0.0
  servlet:
    context-path: /

spring:
    datasource:
        driver-class-name:  com.mysql.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/tcc_order?useUnicode=true&characterEncoding=utf8
        username: root
        password:

org:
    dromara:
         hmily :
            app-name: order
            serializer : kryo
            recoverDelayTime : 60
            retryMax : 30
            scheduledRecoveryDelay : 60
            scheduledThreadMax :  10
            repository : mysql
            hmilyDbConfig :
                 driverClassName  : com.mysql.jdbc.Driver
                 url :  jdbc:mysql://127.0.0.1:3306/hmily?useUnicode=true&characterEncoding=utf8
                 username : root
                 password :
            hmilyMetricsConfig:
              metricsName: prometheus
              port :  9093
        #repositorySupport : redis
        #tccRedisConfig:
                # masterName: mymaster
                 #sentinel : true
                 #sentinelUrl : 192.168.1.91:26379;192.168.1.92:26379;192.168.1.93:26379
                # password  : foobaredbbexONE123


mybatis:
  type-aliases-package: com.hmily.tcc.demo.dubbo.order.entity
  config-location: classpath:mybatis/mybatis-config.xml

logging:
    level:
        root: error
        org.springframework.web: info
        org.apache.ibatis: info
        org.dromara.hmily.bonuspoint: info
        org.dromara.hmily.lottery: info
        org.dromara.hmily: info
        io.netty: info
    path: "./logs"

